{
  "plugins": [
    "@babel/plugin-transform-runtime",
    "babel-plugin-root-import"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.10"
        }
      }
    ]
  ]
}
